<div ng-include="'components/navbar/navbar.html'"></div>

<header>
    <!--<ui-gmap-google-map center="map.center" zoom="map.zoom">
        <ui-gmap-marker ng-repeat="doctor in doctors"
                        coords="doctor.coords"
                        options="{
                            labelContent: (doctor.nbPatient*doctor.averageTime) + ' mn',
                            labelClass: chooseLabelColor(doctor)
                        }"
                        click="clickOnMarker(doctor)"
                        idkey="$index">
        </ui-gmap-marker>
        <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
    </ui-gmap-google-map>-->
    <ui-gmap-google-map
            center="map.center"
            zoom="map.zoom"
            dragging="map.dragging"
            bounds="map.bounds"
            events="map.events"
            options="map.options"
            pan="true"
            control="map.control"
            >
        <ui-gmap-marker ng-repeat="doctor in doctors"
                        coords="doctor.coords"
                        options="{
                            labelContent: (doctor.time),
                            labelClass: chooseLabelColor(doctor)
                        }"
                        click="clickOnMarker(doctor)"
                        idkey="$index">
        </ui-gmap-marker>
        <!--to add as a map control-->
        <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
        <!--to add to a parent div-->
        <!--<ui-gmap-search-box options="searchbox.options" template="searchbox.template"  events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>-->


        <!--<ui-gmap-markers idkey="map.idkey" models="map.markers" coords="'self'" icon="'icon'" click="'onClicked'"></ui-gmap-markers>-->


    </ui-gmap-google-map>
</header>

<div class="container" ng-if="doctorDetail">
    <div class="col-md-offset-4 col-md-4">
        <div class="doctor-infos">
            <div class="display-time">
                <i class="glyphicon glyphicon-time"></i>
                <br />
                <span>{{doctorDetail.time}}</span>
            </div>
            <h3>Docteur {{doctorDetail.lastName}} {{doctorDetail.firstName}}</h3>
            <p>{{doctorDetail.address}}</p>
            <p ng-bind-html="doctorDetail.activities | breakFilter"></p>
            <p><strong>Tel :</strong> {{doctorDetail.phone}}</p>
            <strong>Horaires de consultations libres : </strong>
            <p ng-bind-html="doctorDetail.consultation | breakFilter"></p>
            <strong>Horaires de consultations sur RDV : </strong>
            <p ng-bind-html="doctorDetail.meetings | breakFilter"></p>
        </div>
    </div>
</div>