.angular-google-map-container { height: 400px; }

.pac-controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px !important;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: 'Open Sans', sans-serif;
}

.marker-labels-orange {
  width: auto;
  height: 20px;
  padding: 0 5px;
  color: #ffffff;
  background-color: #ff530d;
  text-align: center;
  border: 1px solid black;
}

.doctor-infos {
  margin-top: 20px;
  background-color: #ff4500;
  padding: 15px;
  color: white;

  -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.5);
}

.display-time {
  font-size: 40px;
  text-align: center;
}

.button-rdv {
  margin-left: 70px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}