<div ng-include="'components/navbar/navbar.html'"></div>

<header>
    <ui-gmap-google-map
            center="vm.map.center"
            zoom="vm.map.zoom"
            dragging="vm.map.dragging"
            bounds="vm.map.bounds"
            events="vm.map.events"
            options="vm.map.options"
            pan="true"
            control="vm.map.control"
            >
        <ui-gmap-marker ng-repeat="doctor in vm.doctors"
                        coords="doctor.coords"
                        options="{
                            labelContent: 'Dr. '+doctor.lastName,
                            labelClass: 'marker-labels-orange'
                        }"
                        click="vm.clickOnMarker(doctor)"
                        idkey="$index">
        </ui-gmap-marker>
        <ui-gmap-search-box options="vm.searchbox.options" template="vm.searchbox.template" events="vm.searchbox.events"></ui-gmap-search-box>
    </ui-gmap-google-map>
</header>

<div class="container" ng-if="vm.doctorDetail">
    <div class="col-md-offset-4 col-md-4">
        <div class="doctor-infos">
            <div class="display-time">
                <i class="glyphicon glyphicon-time"></i>
                <br />
                <span>{{vm.doctorDetail.style.label}}</span>
            </div>
            <h3>Docteur {{vm.doctorDetail.lastName}} {{vm.doctorDetail.firstName}}</h3>
            <p>{{vm.doctorDetail.address}}</p>
            <p ng-bind-html="vm.doctorDetail.activities | breakFilter"></p>
            <div ng-if="vm.doctorDetail.phone" class="hidden-xs">
                <p><strong>Tel :</strong> {{vm.doctorDetail.phone}}</p>
            </div>
            <div ng-if="vm.doctorDetail.phone" class="visible-xs">
                <p><i class="fa fa-phone fa-2x"></i><a ng-href="tel:{{vm.doctorDetail.phone}}"> Appeler</a></p>
            </div>
            <strong ng-if="vm.doctorDetail.consultation">Horaires de consultations libres : </strong>
            <p ng-bind-html="vm.doctorDetail.consultation | breakFilter"></p>
            <strong ng-if="vm.doctorDetail.meetings">Horaires de consultations sur RDV : </strong>
            <p ng-bind-html="vm.doctorDetail.meetings | breakFilter"></p>
            <p ng-bind-html="vm.doctorDetail.notes | breakFilter"></p>

        </div>
        <br />
        <div ng-if="vm.doctorDetail.url">
            <a ng-href="http://{{vm.doctorDetail.url}}" class="btn btn-primary btn-lg button-rdv" role="button" target="_blank">Prendre rendez-vous</a>
        </div>
        <br />
        <div ng-if="vm.doctorDetail.infos">
            <a ng-href="http://{{vm.doctorDetail.infos}}" class="btn btn-primary btn-lg button-rdv" role="button" target="_blank">En savoir plus</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="alert alert-warning" ng-show="!(vm.isConnected)" role="alert"><a href="/signup">Pour accéder au temps d'attente, Inscrivez-vous !</a></div>
    </div>
</div>